Repository bolourima/BuyMe, pull requests merged in 2024-04, with the labels that each got.

#130 empty cart after order
  be/controllers/orderController.ts
Labels: BackEnd

#135 address with mvc
  be/controllers/addressController.ts
  be/index.ts
  be/models/addressModel.ts
  be/routes/addressRouter.ts
Labels: BackEnd

#143 basket bug fix
  be/controllers/basketController.ts
  user-fe/src/pages/basket.tsx
  user-fe/src/utilities/getBasketOfUser.ts
Labels: User Front end

#145 user edit hiidg blw
  be/controllers/userController.ts
  be/models/userModel.ts
  be/routes/userRouter.ts
  be/uploads/06bac173c755d51a3f7d01a24c92871d
  be/uploads/755f39ec8ed349d530a6bbaa88b26bff
  be/uploads/7fd5030296aa31a299e03c9df39daed7
  be/uploads/89058ed693126075342161fc2869b2cf
  be/uploads/d3992aea6e2a5f0d4b93901466161ce9
  be/uploads/e7fffb3be9eeeeee6bbad760fc065f1b
  be/uploads/f454ec6adf713a988208625e3752e5f3
  be/uploads/f9fec8dcd31b45c75df58ccbe0ba8920
  user-fe/public/waiting.png
  user-fe/src/components/MyProfilePicEdit.tsx
  user-fe/src/components/ProfileInfo.tsx
  user-fe/src/components/ProfileInfoEdit.tsx
  user-fe/src/components/ProfileSideBar.tsx
  user-fe/src/pages/myprofile.tsx
  user-fe/src/types/userInitial.ts
  user-fe/src/types/userType.ts
  user-fe/src/utilities/editUser.ts
Labels: User Front end, BackEnd

#149 import alda zaslaa
  user-fe/src/pages/basket.tsx
  user-fe/src/utilities/countChange.ts
Labels: BackEnd

#154 edit bolon delete hihd uussen asuudlig zasaw
  admin-fe/src/components/AddProduct/AddProductForm.tsx
  admin-fe/src/components/MainProducts.tsx
  admin-fe/src/components/ProductsController.tsx
  admin-fe/src/contexts/TokenContext.tsx
  admin-fe/src/pages/_app.tsx
  admin-fe/src/pages/index.tsx
  be/controllers/productController.ts
Labels: Admin Front end, BackEnd

#159 error fix
  user-fe/package-lock.json
  user-fe/package.json
  user-fe/src/pages/products.tsx
Labels: User Front end

#157 income error fix
  admin-fe/src/pages/income.tsx
Labels: Admin Front end

#162 create invoice instance be url
  be/controllers/orderController.ts
  user-fe/src/instance.ts
  user-fe/src/utilities/createOrder.ts
Labels: User Front end

#166 edit cors
  be/index.ts
Labels: BackEnd

#167 165 edit cors url
  be/index.ts
Labels: BackEnd

#169 credential
  be/index.ts
Labels: BackEnd

#173 171 cors error fix
  be/index.ts
Labels: User Front end, BackEnd

#187 175 create invoice
  be/controllers/orderController.ts
  be/controllers/paymentController.ts
  be/index.ts
  be/models/orderModel.ts
  be/package-lock.json
  be/package.json
  be/routes/orderRouter.ts
  be/routes/paymentRouter.ts
  be/utilities/instance.ts
  user-fe/package-lock.json
  user-fe/package.json
  user-fe/src/components/Cart.tsx
  user-fe/src/components/PaymentSection.tsx
  user-fe/src/components/ProductSectionOfBasket.tsx
  user-fe/src/components/Qr.tsx
  user-fe/src/helper/checkPayment.ts
  user-fe/src/helper/emptyBasket.ts
  user-fe/src/helper/getOrders.ts
  user-fe/src/helper/getPaymentInvoiceRes.ts
  user-fe/src/helper/getPaymentTokenRes.ts
  user-fe/src/helper/payPayment.ts
  user-fe/src/instance.ts
  user-fe/src/pages/basket.tsx
  user-fe/src/pages/order.tsx
  user-fe/src/types/orderType.ts
  user-fe/src/utilities/countChange.ts
  user-fe/src/utilities/createOrder.ts
Labels: User Front end, BackEnd

#189 tsc hiij error fix
  be/build/controllers/addressController.js
  be/build/controllers/adminController.js
  be/build/controllers/basketController.js
  be/build/controllers/categoryController.js
  be/build/controllers/orderController.js
  be/build/controllers/paymentController.js
  be/build/controllers/productController.js
  be/build/controllers/subCategoryController.js
  be/build/controllers/userController.js
  be/build/index.js
  be/build/models/addressModel.js
  be/build/models/adminModel.js
  be/build/models/basketModel.js
  be/build/models/orderModel.js
  be/build/models/productModel.js
  be/build/models/userModel.js
  be/build/routes/addressRouter.js
  be/build/routes/adminRouter.js
  be/build/routes/basketRouter.js
  be/build/routes/categoryRouter.js
  be/build/routes/orderRouter.js
  be/build/routes/paymentRouter.js
  be/build/routes/productRouter.js
  be/build/routes/signInRouter.js
  be/build/routes/signUpRouter.js
  be/build/routes/subCategoryRouter.js
  be/build/routes/userRouter.js
  be/build/utilities/instance.js
  be/controllers/addressController.ts
  be/models/addressModel.ts
  be/package-lock.json
  be/package.json
  be/routes/signInRouter.ts
  be/routes/signUpRouter.ts
  be/routes/userRouter.ts
Labels: bug, BackEnd

#192 lognemev
  user-fe/src/pages/productDetail/[id].tsx
Labels: bug, User Front end

#196 188 improve UI of the payment page
  admin-fe/src/instance.ts
  be/controllers/paymentController.ts
  be/models/invoiceModel.ts
  be/routes/paymentRouter.ts
  user-fe/public/paid.png
  user-fe/src/components/Cart.tsx
  user-fe/src/components/MyProfilePicEdit.tsx
  user-fe/src/components/Qr.tsx
  user-fe/src/helper/checkPayment.ts
  user-fe/src/helper/formatDate.ts
  user-fe/src/helper/payPayment.ts
  user-fe/src/icon/Paid.tsx
  user-fe/src/instance.ts
  user-fe/src/pages/basket.tsx
  user-fe/src/pages/order.tsx
Labels: User Front end, BackEnd

#203 address seq
  user-fe/package-lock.json
  user-fe/package.json
  user-fe/src/components/AddressInput.tsx
  user-fe/src/components/PaymentSection.tsx
  user-fe/src/pages/basket.tsx
  user-fe/src/utilities/createOrder.ts
  user-fe/src/utilities/userRelatedUtils.ts
Labels: User Front end

#204 199 user fe favorites
  be/controllers/basketController.ts
  be/controllers/favoritesController.ts
  be/index.ts
  be/models/favoritesModel.ts
  be/routes/favoritesRouter.ts
  user-fe/src/components/Header.tsx
  user-fe/src/components/Masonry.tsx
  user-fe/src/components/Product.tsx
  user-fe/src/helper/addToFavs.ts
  user-fe/src/helper/getFavProducts.ts
  user-fe/src/helper/removeFromBasket.ts
  user-fe/src/icon/RedLoveIcon.tsx
  user-fe/src/instance.ts
  user-fe/src/pages/favorites.tsx
  user-fe/src/pages/productlist/[category].tsx
  user-fe/src/pages/productlist/index.tsx
Labels: User Front end, BackEnd

#207 198 admin jump connection
  admin-fe/package-lock.json
  admin-fe/package.json
  admin-fe/src/components/AddProduct/AddProductForm.tsx
  admin-fe/src/components/DataTable.tsx
  admin-fe/src/components/LeftBar.tsx
  admin-fe/src/components/MainProducts.tsx
  admin-fe/src/components/NavBar.tsx
  admin-fe/src/components/ProductsController.tsx
  admin-fe/src/pages/_app.tsx
  admin-fe/src/pages/income.tsx
  admin-fe/src/pages/index.tsx
  admin-fe/src/pages/product.tsx
  admin-fe/src/types/idType.ts
  admin-fe/src/utilities/toastify.ts
  be/controllers/userController.ts
Labels: Admin Front end, BackEnd

#211 basket style
  user-fe/src/components/Header.tsx
  user-fe/src/components/PaymentSection.tsx
  user-fe/src/components/ProductSectionOfBasket.tsx
  user-fe/src/icon/DeleteIcon.tsx
  user-fe/src/icon/index.ts
  user-fe/src/pages/_app.tsx
  user-fe/src/pages/basket.tsx
  user-fe/src/pages/productDetail/[id].tsx
  user-fe/src/pages/productlist/[category].tsx
  user-fe/src/pages/productlist/index.tsx
  user-fe/src/utilities/toastify.ts
Labels: User Front end

#213 admin order management
  admin-fe/src/components/Orders.tsx
  admin-fe/src/helper/calculateTotal.ts
  admin-fe/src/instance.ts
  admin-fe/src/pages/income.tsx
  admin-fe/src/pages/index.tsx
  admin-fe/src/pages/order.tsx
  admin-fe/src/pages/product.tsx
  admin-fe/src/types/orderType.ts
  admin-fe/src/utilities/getOrders.ts
  admin-fe/src/utilities/getProducts.ts
  be/controllers/adminController.ts
  be/controllers/orderController.ts
  be/models/orderModel.ts
  be/routes/orderRouter.ts
Labels: Admin Front end, BackEnd

#225 putintobasket func implement
  admin-fe/src/components/Orders.tsx
  admin-fe/src/types/orderType.ts
  be/controllers/addressController.ts
  be/controllers/orderController.ts
  be/models/orderModel.ts
  user-fe/src/components/AddressInput.tsx
  user-fe/src/components/Cart.tsx
  user-fe/src/components/PaymentSection.tsx
  user-fe/src/components/Product.tsx
  user-fe/src/components/Qr.tsx
  user-fe/src/pages/order.tsx
  user-fe/src/types/orderType.ts
  user-fe/src/utilities/createOrder.ts
  user-fe/src/utilities/putIntoBasket.ts
  user-fe/src/utilities/userRelatedUtils.ts
Labels: User Front end, BackEnd

#234 fav looks realtime
  user-fe/src/components/Masonry.tsx
  user-fe/src/components/Product.tsx
  user-fe/src/context/ProductsInFavContext.tsx
  user-fe/src/helper/addToFavs.ts
  user-fe/src/helper/getFavProducts.ts
  user-fe/src/helper/removeFromBasket.ts
  user-fe/src/pages/_app.tsx
  user-fe/src/pages/favorites.tsx
  user-fe/src/pages/productlist/[category].tsx
  user-fe/src/pages/productlist/index.tsx
Labels: User Front end

#242 payment
  be/controllers/orderController.ts
  be/controllers/paymentController.ts
  user-fe/src/components/AddressInput.tsx
  user-fe/src/components/PaymentSection.tsx
  user-fe/src/components/Qr.tsx
  user-fe/src/helper/payPayment.ts
  user-fe/src/instance.ts
  user-fe/src/pages/basket.tsx
  user-fe/src/pages/orders/list.tsx
  user-fe/src/types/invoiceInitial.ts
  user-fe/src/types/invoiceType.ts
  user-fe/src/utilities/createOrder.ts
Labels: User Front end, BackEnd

#243 210 searching
  be/controllers/searchController.ts
  user-fe/src/components/Header.tsx
  user-fe/src/components/MobileBar.tsx
  user-fe/src/context/searchContext.tsx
  user-fe/src/instance.ts
  user-fe/src/pages/_app.tsx
  user-fe/src/pages/productlist/index.tsx
  user-fe/src/utilities/searchProduct.ts
Labels: BackEnd, FrontEnd

#246 income
  admin-fe/src/components/Orders.tsx
  admin-fe/src/pages/income.tsx
  admin-fe/src/types/orderType.ts
  be/controllers/orderController.ts
Labels: Admin Front end, BackEnd

#249 fixed
  user-fe/src/components/MobileBar.tsx
  user-fe/src/components/PaymentSection.tsx
  user-fe/src/components/ProductSectionOfBasket.tsx
  user-fe/src/instance.ts
  user-fe/src/pages/basket.tsx
Labels: bug, User Front end

#251 all product pagination
  admin-fe/src/components/DataTable.tsx
  be/controllers/productController.ts
  be/routes/productRouter.ts
  user-fe/src/components/Header.tsx
  user-fe/src/components/Product.tsx
  user-fe/src/pages/productlist/index.tsx
  user-fe/src/utilities/createOrder.ts
  user-fe/src/utilities/searchProduct.ts
Labels: User Front end, BackEnd

#254 253 improve UI of income page
  admin-fe/src/components/Orders.tsx
  admin-fe/src/helper/calculateTotal.ts
  admin-fe/src/pages/income.tsx
  be/controllers/orderController.ts
Labels: Admin Front end, BackEnd

#256 improve all responsive
  user-fe/src/components/Header.tsx
  user-fe/src/components/MyProfilePicEdit.tsx
  user-fe/src/components/Product.tsx
  user-fe/src/components/ProfileSideBar.tsx
  user-fe/src/components/Qr.tsx
  user-fe/src/components/SearchMobile.tsx
  user-fe/src/pages/favorites.tsx
  user-fe/src/pages/myprofile.tsx
  user-fe/src/pages/orders/list.tsx
Labels: User Front end, BackEnd

#258 improve ui shop detail admin-fe improvement
  admin-fe/src/components/Orders.tsx
  be/controllers/productController.ts
  user-fe/src/components/ProductSectionOfBasket.tsx
  user-fe/src/pages/favorites.tsx
  user-fe/src/pages/shop/[shopname].tsx
Labels: User Front end, Admin Front end, BackEnd

#259 257 admin fe improvement
  admin-fe/src/pages/signup.tsx
  be/controllers/adminController.ts
  be/controllers/productController.ts
  be/models/adminModel.ts
  user-fe/src/pages/shop/[shopname].tsx
Labels: User Front end, BackEnd

#265 orders of selected shop
  admin-fe/src/components/Orders.tsx
  admin-fe/src/helper/totalIncome.ts
  admin-fe/src/instance.ts
  admin-fe/src/pages/income.tsx
  admin-fe/src/pages/shop/[shopId].tsx
  admin-fe/src/types/orderType.ts
  be/controllers/adminController.ts
  be/routes/adminRouter.ts
Labels: Admin Front end, BackEnd

#275 loading
  user-fe/package-lock.json
  user-fe/package.json
  user-fe/src/components/AddressInput.tsx
  user-fe/src/components/PaymentSection.tsx
  user-fe/src/helper/payPayment.ts
  user-fe/src/icon/LoadingIcon.tsx
  user-fe/src/pages/_app.tsx
  user-fe/src/pages/basket.tsx
  user-fe/src/pages/orders/list.tsx
  user-fe/src/pages/productlist/[category]/[subCategory].tsx
  user-fe/src/pages/productlist/[category]/index.tsx
  user-fe/src/pages/productlist/index.tsx
  user-fe/src/styles/globals.css
Labels: User Front end, BackEnd
