Repository bolourima/BuyMe, pull requests merged in 2024-03, with the labels that each got.

#25 6 user fe using mockdata products map
  user-fe/package-lock.json
  user-fe/package.json
  user-fe/src/components/Header.tsx
  user-fe/src/components/Hero.tsx
  user-fe/src/components/Product.tsx
  user-fe/src/components/ProductCardOne.tsx
  user-fe/src/components/ProductCardThree.tsx
  user-fe/src/components/ProductCardTwo.tsx
  user-fe/src/components/RecommendedItems.tsx
  user-fe/src/components/SubCategory.tsx
  user-fe/src/pages/_app.tsx
  user-fe/src/pages/index.tsx
  user-fe/src/styles/globals.css
Labels: FrontEnd

#41 product connection get back end api data
  be/build/index.js
  be/package-lock.json
  user-fe/src/components/Product.tsx
  user-fe/src/components/ProductCardOne.tsx
  user-fe/src/components/ProductCardThree.tsx
  user-fe/src/components/ProductCardTwo.tsx
  user-fe/src/components/RecommendedItems.tsx
  user-fe/src/components/SubCategory.tsx
  user-fe/src/instance.ts
  user-fe/src/pages/index.tsx
  user-fe/src/types/productType.ts
Labels: bug, User Front end, BackEnd

#85 admin deer order data awdg blsn
  admin-fe/src/components/LeftBar.tsx
  admin-fe/src/components/MainProducts.tsx
  admin-fe/src/components/Orders.tsx
  admin-fe/src/pages/index.tsx
  admin-fe/src/types/orderType.ts
  be/controllers/orderController.ts
  be/index.ts
  be/routes/orderRouter.ts
  user-fe/src/components/Basket.tsx
  user-fe/src/types/productType.ts
  user-fe/src/utilities/countChange.ts
  user-fe/src/utilities/createOrder.ts
  user-fe/src/utilities/putIntoBasket.ts
Labels: User Front end, Admin Front end, BackEnd

#87 edit product image delete
  admin-fe/src/components/AddProductBar.tsx
  admin-fe/src/components/AddProductBrand.tsx
  admin-fe/src/components/AddProductCategory.tsx
  admin-fe/src/components/AddProductFirstSection.tsx
  admin-fe/src/components/AddProductForm.tsx
  admin-fe/src/components/AddProductImageSection.tsx
  admin-fe/src/components/AddProductPriceSection.tsx
  admin-fe/src/components/AddProductTag.tsx
  admin-fe/src/components/ProductsController.tsx
  admin-fe/src/utilities/createProduct.ts
  admin-fe/src/validations/productInitial.ts
  be/controllers/categoryController.ts
  be/controllers/productController.ts
  be/controllers/subCategoryController.ts
  be/index.ts
  be/routes/categoryRouter.ts
  be/routes/productRouter.ts
  be/routes/subCategoryRouter.ts
  be/uploads/00cfcdcd0872063eaff40e416f14536b
  be/uploads/076f8a4d365136efec63d8665e44da71
  be/uploads/07e73d1aba9044f757a203980192d28e
  be/uploads/0fa4014950be9623fa6718e3c5dcbd5c
  be/uploads/250c14e8b01df8863c4de85777aeadd1
  be/uploads/27c3160131fefdbf1264f38cdcc1be13
  be/uploads/53640c792996c88ad8017173cf910409
  be/uploads/564a7d2a54e5760b0b1032b8f21f2ad1
  be/uploads/5f9478a79675fc5d2c16dbc4ecff04dc
  be/uploads/616c486648fb39abd7a004cd13758171
  be/uploads/6c777cffe1d8b5450a082ecc644fbde7
  be/uploads/70a049e64ca6eab95240d5dec3b0f1e8
  be/uploads/71f1a5f0315ccb39ea5bcd97be04aac2
  be/uploads/7cf44447e806ce6838d27ca0293d08a3
  be/uploads/7e23d93cc31f960bf87f8518e14a2be8
  be/uploads/8017408a1031b4c395c3a2b005e9cd8b
  be/uploads/9e823c2a0a2c089503e88a0b410c645c
  be/uploads/a57474d6f9f2b62a646dd2d9321a1bd0
  be/uploads/a887d6d7a86dea2b6c69c31642dea084
  be/uploads/aae831710d4682d0fd31f3256da0e6ef
  be/uploads/aaeb3cc5b5e27008096588ca85983b87
  be/uploads/afe5608f1db33e9205e4d0a43488910a
  be/uploads/b19461dec48a7cbb2ce0406ce4e48c9a
  be/uploads/bcc912d21bed1e347fc306c5889429b2
  be/uploads/c68cc0df842910ad73e95518dc119aa6
  be/uploads/d2b8849d6d3b8c9bdf922087750ad867
  be/uploads/d597cc33f09f5e8c9ad61a142e2870aa
  be/uploads/d98d42f1407d1144d2e50f0e372b645d
  be/uploads/e2e36d4a92abecffd42ab3ad8651198d
  be/uploads/eea2835f33fa699ac24526612fcbf849
  be/uploads/f2509e8685bfaac65228b8d7128519c0
  be/uploads/f27f47180efbb24237ec7c4280c2df98
  be/uploads/f39c4174a25018bd77f115e87ced4e0f
Labels: Admin Front end, BackEnd

#89 order hihd zuwhun product id
  be/controllers/orderController.ts
  be/models/orderModel.ts
  user-fe/src/components/Footer copy.tsx
  user-fe/src/components/Header copy.tsx
  user-fe/src/components/Header.tsx
  user-fe/src/components/Product.tsx
  user-fe/src/components/ProductCardTwo.tsx
  user-fe/src/components/SubCategory.tsx
  user-fe/src/context/BasketVisiblity.tsx
  user-fe/src/pages/_app.tsx
  user-fe/src/pages/basket.tsx
  user-fe/src/pages/index.tsx
  user-fe/src/pages/productdetail.tsx
  user-fe/src/pages/products.tsx
  user-fe/src/utilities/createOrder.ts
Labels: User Front end, BackEnd

#79 Fix-admin-dashboard
  admin-fe/package-lock.json
  admin-fe/package.json
  admin-fe/src/components/DataTable.tsx
  admin-fe/src/components/MainProducts.tsx
  admin-fe/src/pages/index.tsx
  user-fe/package-lock.json
Labels: Admin Front end

#96 88 order saijruulalt
  user-fe/src/components/Footer copy.tsx
  user-fe/src/components/Header copy.tsx
  user-fe/src/components/Header.tsx
  user-fe/src/pages/productdetail.tsx
Labels: User Front end, BackEnd

#99 add product folder uusgew
  admin-fe/src/components/AddProduct/AddProductBar.tsx
  admin-fe/src/components/AddProduct/AddProductBrand.tsx
  admin-fe/src/components/AddProduct/AddProductCategory.tsx
  admin-fe/src/components/AddProduct/AddProductFirstSection.tsx
  admin-fe/src/components/AddProduct/AddProductForm.tsx
  admin-fe/src/components/AddProduct/AddProductImageSection.tsx
  admin-fe/src/components/AddProduct/AddProductPriceSection.tsx
  admin-fe/src/components/AddProduct/AddProductTag.tsx
  admin-fe/src/components/MainProducts.tsx
Labels: Admin Front end

#107 Prodcut-detail-post-router-get-data-and-DataType-fix
  be/controllers/productController.ts
  be/routes/productRouter.ts
  user-fe/src/components/Masonry.tsx
  user-fe/src/components/ProductCardOne.tsx
  user-fe/src/components/ProductFilterRecent.tsx
  user-fe/src/pages/productId/[id].tsx
  user-fe/src/types/idType.ts
  user-fe/src/types/productType.ts
Labels: BackEnd

#105 81 user fe profile
  user-fe/public/IconPicture.jpeg
  user-fe/src/components/MyProfilePicEdit.tsx
  user-fe/src/components/ProfileSideBar.tsx
  user-fe/src/icon/BlackProfile.tsx
  user-fe/src/icon/CartIcon.tsx
  user-fe/src/icon/EditIcon.tsx
  user-fe/src/icon/EditIconWhite.tsx
  user-fe/src/icon/HandIcon.tsx
  user-fe/src/icon/LocationIcon.tsx
  user-fe/src/icon/NotificationIcon.tsx
  user-fe/src/icon/UserIcon.tsx
  user-fe/src/pages/myprofile.tsx
  user-fe/src/styles/globals.css
Labels: User Front end

#110 order table dotor hargddg blgow
  admin-fe/src/components/AddProduct/AddProductForm.tsx
  admin-fe/src/components/DataTable.tsx
  admin-fe/src/components/Orders.tsx
  admin-fe/src/types/orderType.ts
Labels: Admin Front end

#114 111 basket dotorhig data base deer hadgaldg blgh
  be/controllers/basketController.ts
  be/controllers/userController.ts
  be/index.ts
  be/models/basketModel.ts
  be/models/orderModel.ts
  be/routes/basketRouter.ts
  user-fe/package-lock.json
  user-fe/package.json
  user-fe/src/components/Masonry.tsx
  user-fe/src/components/Product.tsx
  user-fe/src/context/FoodsInBasket.tsx
  user-fe/src/pages/basket.tsx
  user-fe/src/pages/index.tsx
  user-fe/src/pages/productList.tsx
  user-fe/src/pages/products.tsx
  user-fe/src/types/basketType.ts
  user-fe/src/types/productWithQuantityType.ts
  user-fe/src/types/userType.ts
  user-fe/src/utilities/countChange.ts
  user-fe/src/utilities/createOrder.ts
  user-fe/src/utilities/getBasketOfUser.ts
  user-fe/src/utilities/putIntoBasket.ts
  user-fe/src/utilities/removeFromBasket.ts
  user-fe/src/utilities/userRelatedUtils.ts
Labels: User Front end, BackEnd

#116 type error uud zasaw
  be/controllers/basketController.ts
  user-fe/src/components/Cart.tsx
  user-fe/src/components/Product.tsx
  user-fe/src/pages/basket.tsx
  user-fe/src/pages/products.tsx
  user-fe/src/utilities/putIntoBasket.ts
  user-fe/src/utilities/removeFromBasket.ts
Labels: User Front end

#117 115 zarim huudasnuudin aldaag zasah
  be/controllers/basketController.ts
  user-fe/src/components/Masonry.tsx
  user-fe/src/components/Product.tsx
  user-fe/src/pages/basket.tsx
  user-fe/src/types/handlerType.ts
  user-fe/src/utilities/putIntoBasket.ts
Labels: User Front end, BackEnd
